<h1>Add Post</h1>
<%= form_for :post, url:post_path(@post), method: :patch do |p| %>
	<% if @post.errors.any? %>
		<% @post.errors.full_messages.each do |msg| %>
			<div class="alert alert-danger"><%= msg %></div>
		<% end %>
	<% end %>
	<p>
		<%= p.label :title %><br>
		<%= p.text_field(:title, {:class => 'form-control'}) %>
	</p>

	<p>
		<%= p.label :body %><br>
		<%= p.text_field(:body, {:class => 'form-control'}) %>
	</p>

	<p>
		<%= p.submit({:class => 'btn btn-primary'}) %>
	</p>
<% end %>